name: "Check PR Title for Jira Ticket"

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

jobs:
  validate-pr-title:
    runs-on: ubuntu-latest
    steps:
      - name: Check PR title for Jira ticket
        env:
          PR_TITLE: "${{ github.event.pull_request.title }}"
        run: |
          echo "Checking PR title: $PR_TITLE"
          if [[ ! "$PR_TITLE" =~ ^(\(|\[)?(GC|GPP|GSG|GFC|GB)-[0-9]+(\)|\])?$ ]]; then
            echo "❌ PR title must include a Jira ticket in the correct format (e.g., GPP-123, (GPP-123), [GPP-123])."
            exit 1
          fi
          echo "✅ PR title is valid."

      - name: Fail if title check fails
        if: failure()
        run: exit 1
